/* Overwrite Bootstrap */
.content {
	padding-top: 45px;
	padding-left: 200px;
	height: 100%;
}
/* END Bootstrap */

/* Title Bar */
.header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	padding: 5px 10px;
	background-color: #3f3f3f;
	margin: 0;
	border-bottom: 2px solid #747474;
}

.header-text {
	color: white;
}

.language-button{
	color: white;
	padding: 15px;
	width: 80px;	
}

.language-button:hover{
	 background-color: #616161;
	 cursor: pointer;
	 color: white;
	 text-decoration: none;
}

/* END Title Bar*/

/* Navigation Sidebar */
.navigation-sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	top: 45px;
	left: 0;
	background-color: #4e534d;
	overflow-x: hidden;
	padding-top: 20px;
}

.navigation-sidebar ul{
	padding: 0;
}

.navigation-button {
	list-style-type: none;
	width: 100%;
	padding: 5px 25px;
	color: white;
}

.navigation-button:hover {
	background-color: #616161;
	cursor: pointer;
}

.navigation-button-active{
	background-color: #747474;
}

/* END Navigation Sidebar */

/* ELEMENT CARDS */
.element-card {
	margin-bottom: 20px;
}

.card-header-custom {
	background-color: #4e534d;
	color: white;
}
/* END ELEMENT CARDS*/

/* Snackbar from W3Schools*/
#snackbar {
	visibility: hidden;
	width: 90%;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 5%;
	bottom: 30px;
	font-size: 17px;
	opacity: 0.9;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 0.9;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 0.9;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 0.9;} 
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 0.9;}
	to {bottom: 0; opacity: 0;}
}
/* END Snackbar from W3Schools */