<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" th:href="@{/img/favicon-32x32.png}" type="image/png" />
	<title>IPSUM QUOTES</title>
	<link rel="stylesheet" 	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" th:href="@{/css/ipsum-app-style.css}">
</head>
<body>
	<section class="header">
		<div th:replace="fragments/titles :: titlebar">Titel</div>
	</section>

	<section class="navigation">
		<div th:replace="fragments/navigations :: navigation">Navigation placeholder</div>
	</section>

	<section class="content">
		<div class="container-fluid mt-2">
			<div layout:fragment="content">Content placeholder</div>
		</div>
	</section>

	<th:block layout:fragment="jsInclude"></th:block>
</body>
</html>