<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="element-page">
		<div class="d-flex">
			<div class="mr-auto">
				<input id="json-file-input" class="d-none" type="file" accept="application/JSON" th:data-url="@{ajax/readJson}"/>
				<button id="upload-button" type="button" class="btn btn-info" th:text="#{element.button.import}">Upload New Entries Dummy</button>
			</div>
			<div>
				<button id="clear-button" type="button" class="btn btn-info" th:data-url="@{ajax/clearData}" th:text="#{element.button.wipe}">Clear all entries</button>
			</div>
		</div>
		
		<br>
		
		<div id="element-container">
			<th:block th:unless="${#lists.isEmpty(elements)}">
				<th:block th:replace="fragments/elements :: element-container(elements = ${elements})"></th:block>
			</th:block>
		</div>
		
		<div id="elements-empty" th:classappend="${#lists.isEmpty(elements) ? '' : 'd-none'}" th:text="#{element.empty}">Keine Elemente vorhanden.... DUMMY</div>
  		<div id="snackbar">Text Dummy</div>
  		
  		<div>
  			<div id="msg-entry-move-error" class="d-none" th:text="#{element.script-message.entry-move-error}"></div>
  			<div id="msg-entry-move-success" class="d-none" th:text="#{element.script-message.entry-move-success}"></div>
  			<div id="msg-import-error" class="d-none" th:text="#{element.script-message.import-error}"></div>
  			<div id="msg-import-success" class="d-none" th:text="#{element.script-message.import-success}"></div>
  			<div id="msg-entry-remove-error" class="d-none" th:text="#{element.script-message.remove-entry-error}"></div>
  			<div id="msg-entry-remove-success" class="d-none" th:text="#{element.script-message.remove-entry-success}"></div>
  			<div id="msg-wipe-error" class="d-none" th:text="#{element.script-message.wipe-error}"></div>
  			<div id="msg-wipe-success" class="d-none" th:text="#{element.script-message.wipe-success}"></div>
  		</div>
		<th:block layout:fragment="jsInclude">
			<script type="text/javascript" th:src="@{/js/elements.js}"></script>
		</th:block>
	</div>
	
	<th:block th:fragment="element-container (elements)">
		
		<th:block th:each="element : ${elements}">
			<th:block th:if="${element.shouldBeShown}" th:include="fragments/elements :: element-entry(element= ${element})"></th:block>
		</th:block>
		
	</th:block>
	
	<div th:fragment="element-entry (element)">
		<div th:id="${element.id}" class="card element-card">
			<div class="card-header card-header-custom">
				<div class="d-flex">
					<div class="mr-auto p-1" th:text="${element.title}"></div>
					<div class="p-1" th:text="${#temporals.format(element.date, 'dd.MM.yyyy')}"></div>
				</div>
			</div>
				
			<div class="card-body">
				<div class="d-flex">
					<div class="col-md-7" th:utext="${element.description}"></div>
				</div>
			</div>

			<div class="d-flex justify-content-end">
				<div class="m-1"><Button class="card-remove-button btn btn-info" th:data-url="@{ajax/deleteById}" th:text="#{element.button.remove-entry}">Remove DUMMY</Button></div>
				<div class="m-1"><Button class="move-button move-button-up btn btn-info" th:data-url="@{ajax/moveUp}" th:text="#{element.button.move-up}">Move UP DUMMY</Button></div>
				<div class="m-1"><Button class="move-button move-button-down btn btn-info" th:data-url="@{ajax/moveDown}" th:text="#{element.button.move-down}">Move DOWN DUMMY</Button></div>
			</div>

		</div>
	</div>
</html>
