<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="message-page">
		<h1 th:text="#{message.title}">Hello Friend! DUMMY</h1>
		
		<p th:text="#{message.h2-message}">To check out the stored data you can open the H2 Console DUMMY</p>
		
		<p><a th:href="@{/h2-console}" target="_blank" th:text="#{message.h2-console}">Here DUMMY</a>
		
		<table class="table">
			<tbody>
				<tr>
					<th>Driver Class:</th>
					<td>org.h2.Driver</td>
				</tr>
				<tr>
					<th>JDBC URL:</th>
					<td>jdbc:h2:mem:test</td>
				</tr>
				<tr>
					<th>User:</th>
					<td>sa</td>
				</tr>
				<tr>
					<th>password:</th>
					<td>password</td>
				</tr>
			</tbody>
		</table>
		
		<p class="text-white">01000100 01100001 01101110 01101011 01100101 00100000 01100110 11000011 10111100 01110010 00100000 01100100 01101001 01100101 00100000 01001101 11000011 10110110 01100111 01101100 01101001 01100011 01101000 01101011 01100101 01101001 01110100 00100000 01101101 01101001 01100011 01101000 00100000 01110110 01101111 01110010 01111010 01110101 01110011 01110100 01100101 01101100 01101100 01100101 01101110 00100001</p>
	</div>
</html>
