<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

<div th:fragment="navigation">
	<nav class="navigation-sidebar">
		<ul>
			<li>
				<div class="navigation-button navigation-button-active" th:data-url="@{/ajax/nav/element/list}" th:text="#{navigation.ipsum-list}">
					Element list Dummy
				</div>
			</li>
			<li>
				<div class="navigation-button" th:data-url="@{/ajax/nav/message}" th:text="#{navigation.message}">
					Message Dummy
				</div>
			</li>
		</ul>
	</nav>
	
	<th:block layout:fragment="jsInclude">
		<script type="text/javascript" th:src="@{/js/navigation.js}"></script>
	</th:block>
</div>

</html>