<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="titlebar">
		<div class="d-flex">
			<div class="mr-auto">
				<h3 class="header-text" th:text="#{application.title}">TITLE DUMMY</h3>
			</div>
			<th:block th:with="language = ${#strings.equals(#locale, 'de') ? 'en' : 'de'}">
			<div >
				<a class="language-button" th:href="${#httpServletRequest.requestURI} + '?lang=' + ${language}" th:text="#{application.language.__${language}__}"></a>
			</div>
			</th:block>
		</div>
	</div>
</html>